* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #faebef;
    font-family: "Alegreya Sans", sans-serif;
    /* background-size:cover; */
    font-weight: bold;
}

#header {
    background-color: #ffffff;
    border-bottom: 5px dotted rgb(0, 0, 0);
    font-weight: normal;
    height: 100%;
    position: absolute;
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

input {
    border-radius: 12px;
    padding: 12px 28px;
    border: 2px solid #d88da0;
}

form {
    display: inline-block;
    position: relative;
    padding: 50px 0;
}

.heading {
    background-color: #000;
    /* border-bottom: 5px dotted rgb(0,0,0); */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    padding: 10px 0;
    width: 60%;
    border-radius: 25px;
    text-align: center;
    margin-top: 100vh;
    margin-left: 20%;
}

#aboutMe {
    background-color: #000;
    /* border-bottom: 5px dotted rgb(0, 0, 0); */
    color: white;
    align-self: center;
    padding: 10px 0;
    height: auto;
    margin-left: 20%;
    width: 60%;
    margin-top: 20px;
    border-bottom: 5px dotted white;
}

#dhritiPic {
    margin: 30px;
    border: 2px solid white;
}


#contactMeIcons {
    background-color: #000;
    margin-top: 20px;
    color: white;
    position: absolute;
    align-self: center;
    padding: 10px 0;
    position: relative;
    margin-left: 20%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    
    border-bottom: 5px dotted white;
}


/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 20px;
    background-color: #000;
    /* border-bottom: 5px dotted rgb(0,0,0); */
    color: white;
    align-self: center;
    font-weight: bold;
    margin: 5px;
    margin-left: 25%;
    border-bottom: 5px dotted white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    justify-content: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

span.a {
    display: inline-block; /* the default for span */
    padding: 20px;
    background-color: black;
    margin-bottom: 10px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;
    margin-left: 10%;
    width: 80%;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

#designs {
    /* Prevent vertical gaps */
    line-height: 0;
    margin-left: 10%;
    width: 80%;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

#designs img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 400px) {
    #designs {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

#contactMeForm {
    background-color: #000;
    color: white;
    margin-top: 20px;
    align-self: center;
    padding: 10px 0;

    width: 100%;
    position: relative;
    border-bottom: 5px dotted white;
}

/* progess bar stuff */

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

span {
    background-color: black;
    padding: 15px;
}

/* The progress container (grey background) */
.progress-container {
    width: 100%;
    height: 6px;
    background: #000;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 6px;
    background: #eeb5c4;
    width: 0%;
}

/* clickable stuff */

a:link,
a:visited {
    color: #d88da0;
    /* text-decoration: underline; */
    text-decoration: none;
    cursor: grab;
}

a:link:active,
a:visited:active {
    color: pink;
    text-decoration: none;
}

footer {
    padding: 1em;
    /* border-top: 4px dashed black; */
    color: black;
    /* background-color: white; */
    clear: left;
    text-align: center;
}

/* images sliding and stuff  */

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    /* animation: shake 1s; */
    /* When the animation is finished, start again */
    /* animation-iteration-count: infinite; */
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 30px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: white; /* Set a background color */
    color: red; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 20px; /* Rounded corners */
    font-size: 12px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.pg {
    display: none;
}

#pg0 {
    display: block;
    width: 100%;
}

/*  */

#navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 1;
}

#navbar a {
    float: left;
    display: block;
    color: #f;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 1.60em;
}

#navbar a:hover {
    background-color: #f1f1f1;
    color: black;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10;
    text-align: center;
    font-size: 1em;
}

